[database]
name: mongodb
seeds: mongodb:27017
ssl: true
ssl_keyfile: /var/run/secrets/pulp/client-cert/client.key
ssl_certfile: /var/run/secrets/pulp/client-cert/client.crt
ca_path: /var/run/secrets/pulp/pulp-ca/ca.crt
[server]
default_password: {{ pulp_password }}
[authentication]
[security]
cacert: /var/run/secrets/pulp/httpd-certs/auth-ca.crt
cakey: /var/run/secrets/pulp/httpd-certs/auth-ca.key
[consumer_history]
[data_reaping]
[oauth]
[messaging]
url: ssl://qpidd:5671
cacert: /var/run/secrets/pulp/pulp-ca/ca.crt
clientcert: /var/run/secrets/pulp/client-cert/client.pem
[tasks]
broker_url: qpid://qpidd:5671
celery_require_ssl: true
cacert: /var/run/secrets/pulp/pulp-ca/ca.crt
keyfile: /var/run/secrets/pulp/client-cert/client.key
certfile: /var/run/secrets/pulp/client-cert/client.crt
[email]
[lazy]
